# GUI
PySide6==6.8.0.2

# Computer Vision
opencv-python==4.5.5.64
paddlepaddle-gpu==3.0.0b1 -i https://www.paddlepaddle.org.cn/packages/stable/cu118/
https://paddle-model-ecology.bj.bcebos.com/paddlex/whl/paddlex-3.0.0b1-py3-none-any.whl

# Voice
pyttsx3==2.91
playsound==1.3.0

# MQTT
paho-mqtt==2.1.0

# AI
openai==1.54.4

# Utils
numpy==1.24.4
pillow==10.3.0